.bg-morado-900 {
  background: #230c33;
}

.text-morado-900 {
  color: #230c33;
}

.bg-morado-800 {
  background: #592e83;
}

.text-morado-800 {
  color: #592e83;
}

.bg-morado-700 {
  background: #9984d4;
}

.text-morado-700 {
  color: #9984d4;
}

.bg-morado-600 {
  background: #caa8f5;
}

.text-morado-600 {
  color: #caa8f5;
}


/* Fondo para la porta */
.bg-fondo {
  background: linear-gradient(0deg, rgba(35, 12, 51, 1), rgba(0, 0, 0, 0)),
    url(./img/fondo-uno.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.foto-contenedor {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

